<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Setlist Generator</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/songs" routerLinkActive="active">Song Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/songs/add" routerLinkActive="active">Add Song</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/songs/upload" routerLinkActive="active">Upload Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/generate" routerLinkActive="active">Generate Setlist</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
